﻿@model PicsMapWeb.Models.CommentModel

@{
    ViewBag.Title = "Show";
}

<h2>Show Photo</h2>
<p>Show d'une photo: avec la photo en grand, commentaire sur la droite, info sur la photo en bas (carte + titre, description... + bouton like)</p>
<p>Nom: @ViewBag.cptName</p>
<p>Prénom: @ViewBag.cptFirstname</p>
<p>Login: @ViewBag.cptLogin</p>
<p>Email: @ViewBag.cptEmail</p>


<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true, "Comment creation was unsuccessful. Please correct the errors and try again.")
    <div>
        <fieldset>
            <legend>Comment Information</legend>

            <div class="editor-field">
                @Html.TextBoxFor(m => m.Texte)
                @Html.ValidationMessageFor(m => m.Texte)
            </div>

            <p>
                <input type="submit" value="AddComment" />
            </p>
        </fieldset>
    </div>
}

<table>
    <tr>
        <td>Liste des 5 derniers commentaires de la photo 1</td>
    </tr>
    @if (ViewBag.lastCommentsList != null)
    {
        foreach (var item in @ViewBag.lastCommentsList)
        {
        <tr>
            <td>@item.Texte<br /></td>
            <td>@item.Date<br /></td>
            <td>@Html.ActionLink("Delete", "doDelete", new { commentId = item.Id })</td>
        </tr>
        }
    }
</table>
<br /><br />

<table>
    <tr>
        <td>Ma liste de photos</td>
    </tr>
    @if (ViewBag.photosList != null)
    {
        foreach (var item in @ViewBag.photosList)
        {
        <tr>
            <td>@item.Titre<br /></td>
            <td><a href="@Url.Action("DoEval", new { idPhoto = item.Id })"><img src="@item.Url" height="150" width="250" alt="" /></a><br /></td>
            <td>@item.date_Poste<br /></td>
            <td>@Html.ActionLink("Evaluer une photo", "DoEval", new { idPhoto = item.Id })</td>
            <td>@Html.ActionLink("Supprimer une évaluation", "DeleteEval", new { idPhoto = item.Id })</td>
            <td>Note moyenne de la photo id=1
                @if (ViewBag.noteMoyennePhoto != null)
                {
                    @ViewBag.noteMoyennePhoto
                }
            </td>
        </tr>
        }
    }
</table>
<br /><br />

<table>
    <tr>
        <td>Liste des photos de mes amis</td>
    </tr>
    @if (ViewBag.friendPhotosList != null)
    {
        foreach (var item in @ViewBag.friendPhotosList)
        {

        <tr>
            <td>@item.Titre<br /></td>
            <td><img src="@item.Url" height="150" width="250" alt="" /><br /></td>
            <td>@item.date_Poste<br /></td>
        </tr>
        }
    }
</table>
<br /><br />

<table>
    <tr>
        <td>Liste des récentes photos de mes amis (datant de moins de 3 jours)</td>
    </tr>
    @if (ViewBag.friendsRecentPhotosList != null)
    {
        foreach (var item in @ViewBag.friendsRecentPhotosList)
        {

        <tr>
            <td>@item.Titre<br /></td>
            <td><img src="@item.Url" height="150" width="250" alt="" /><br /></td>
            <td>@item.date_Poste<br /></td>
        </tr>
        }
    }
</table>
<br /><br />

<table>
    <tr>
        <td>Liste des dernières photos postées (datant de moins de 3 jours)</td>
    </tr>
    @if (ViewBag.recentPhotosList != null)
    {
        foreach (var item in @ViewBag.recentPhotosList)
        {

        <tr>
            <td>@item.Titre<br /></td>
            <td><img src="@item.Url" height="150" width="250" alt="" /><br /></td>
            <td>@item.date_Poste<br /></td>
        </tr>
        }
    }
</table>

<img src="@Url.Content("~/Content/images/building.JPG")" />



