﻿@model PicsMapWeb.Models.PhotoModel

@{
    ViewBag.Title = "Add";
}




<div id="content_map">
    <ul class="map_title">
        <li><strong>Choississez la localisation de votre photo en mettant la puce rouge au bon endroit</strong></li>
    </ul>
    <div id="mapCanvas"></div>
</div>

<div id="infoPanel">
    <b>Marker status:</b>
    <div id="markerStatus"><i>Click and drag the marker.</i></div>
    <b>Current position:</b>
    <div id="info"></div>
    <b>Closest matching address:</b>
    <div id="address"></div>
</div>

<div class="content_list">
    <h1>Informations sur votre nouvelle photo</h1>


    @using (Html.BeginForm("Add", "Photo", FormMethod.Post, new { enctype = "multipart/form-data" })) {
    <div class="content_add_photo">
        @Html.ValidationSummary(true, "Echec de la création du compte. Corrigez les erreurs et recommencez.", new {@style = "color:red;"})
        <div>
            <input type="file" value="Choisir une photo" name="photo"/>
        </div>

        <div>
            @Html.LabelFor(m => m.Title) * 
            @Html.ValidationMessageFor(m => m.Title, null, new { @style = "color:red;" })
        </div>
        <div>
            @Html.TextBoxFor(m => m.Title, new { @maxlength = 50 })
        </div>

        <div>
            @Html.LabelFor(m => m.Description) * 
            @Html.ValidationMessageFor(m => m.Description, null, new { @style = "color:red;" })
        </div>
        <div>
            @Html.TextBoxFor(m => m.Description, new { @maxlength = 140 })
        </div>

        <div>
            @Html.LabelFor(m => m.Tags) 
            @Html.ValidationMessageFor(m => m.Tags, null, new { @style = "color:red;" })
        </div>
        <div>
            @Html.TextBoxFor(m => m.Tags)
        </div>

        @Html.HiddenFor(m => m.latitude, new { @id = "latitude" })
        @Html.ValidationMessageFor(m => m.latitude, null, new { @style = "color:red;" })
        @Html.HiddenFor(m => m.longitude, new { @id = "longitude" })
        @Html.ValidationMessageFor(m => m.longitude, null, new { @style = "color:red;" })

        <div>
            <input class="input_submit" type="submit" value="Envoyer" />
        </div>
    </div>
    }

</div>


