﻿@model PicsMapWeb.Models.CommentModel

@{
    ViewBag.Title = "Show";
}

<script type="text/javascript">
var markers = @Html.Raw(ViewBag.markerListJS);
var photos = @Html.Raw(ViewBag.markerListJS);
updateClusterMap();
</script>

<h1><a href="/Account/Show/?idCpt=@ViewBag.currentPhotoAuthor.Id">@ViewBag.currentPhotoAuthor.Prenom @ViewBag.currentPhotoAuthor.Nom</a> > @ViewBag.currentPhoto.Titre</h1>
<div class="content_photo_display">
	<img class="photo_display" src="@ViewBag.currentPhoto.Url" />
	<ul>
		<li class="new_com">
            
            @using (Html.BeginForm())
            {
                //@using (Ajax.BeginForm("Show", new AjaxOptions { UpdateTargetId = "body" }))
                    @Html.TextBoxFor(m => m.Texte, new { @Value = "Ajouter un commentaire...", @onclick = "clickclear(this,'Ajouter un commentaire...')" })
                    @Html.HiddenFor(m => m.IdPhoto, new { @Value = @ViewBag.currentPhoto.Id });
                    @Html.HiddenFor(m => m.IdAuthor, new { @Value = @ViewBag.currentPhotoAuthor.Id });

            }
        </li>
        @if (ViewBag.lastCommentsList != null)
        {
            foreach (var item in @ViewBag.lastCommentsList)
            {
                <li>
			        <img src="@item.PhotoUserProfil" />
			        <p><a href="/Account/Show/?idCpt=@item.IdCpt">@item.authFirstname @item.authName</a> @item.Texte</p>
		        </li>
            }
        }
        else
        {
            <li>
			    <p>Aucun commentaire a afficher...</p>
		    </li>
        }
	</ul>
</div>
<div id="content_footer">&nbsp;</div>
			
<!-- photo detail content -->
<h1>Zoom sur  @ViewBag.currentPhoto.Titre</h1>
<div class="content_photo_detail">
	<div class="content_photo_map">
		<div id="map" style="width:450px;height:250px;"></div>
	</div>
	<div class="content_photo_info">
		<div>
			<strong>Informations</strong>
            @if (@ViewBag.isEvaluated == false)
            {
				<a href="@Url.Action("DoEval1Star", new { idPhoto = @ViewBag.currentPhoto.Id })"><img src="@Url.Content("~/Content/i/star.png")"/></a>
				<a href="@Url.Action("DoEval2Star", new { idPhoto = @ViewBag.currentPhoto.Id })"><img src="@Url.Content("~/Content/i/star.png")"/></a>
				<a href="@Url.Action("DoEval3Star", new { idPhoto = @ViewBag.currentPhoto.Id })"><img src="@Url.Content("~/Content/i/star.png")"/></a>
				<a href="@Url.Action("DoEval4Star", new { idPhoto = @ViewBag.currentPhoto.Id })"><img src="@Url.Content("~/Content/i/star.png")"/></a>
				<a href="@Url.Action("DoEval5Star", new { idPhoto = @ViewBag.currentPhoto.Id })"><img src="@Url.Content("~/Content/i/star.png")"/></a>
            }
            else
            {
                <div class="content_note">
                    <div class="@ViewBag.noteClasses"></div>
                    @Html.ActionLink("Supprimer votre évaluation", "DeleteEval", new { idPhoto = @ViewBag.currentPhoto.Id })
                </div>
            }
		</div>
		<div class="list_info">
			<div class="list_info_key">
				<p>Nom de la photo:</p>
				<p>Description:</p>
				<p>Auteur:</p>
				<p>Date d'ajout:</p>
			</div>
			<div class="list_info_value">
				<p> @ViewBag.currentPhoto.Titre</p>
				<p> @ViewBag.currentPhoto.Description</p>
				<p> @ViewBag.currentPhotoAuthor.Login</p>
				<p> @ViewBag.currentPhoto.date_Poste</p>
			</div>
		</div>
        <div class="fb-like margin_top_10" data-href="http://localhost:5503" data-send="false" data-width="350" data-show-faces="false" data-font="segoe ui"></div>
	</div>
</div>
<div id="content_footer">&nbsp;</div>
			
<h1><a href="/Account/Show/?idCpt=@ViewBag.currentPhotoAuthor.Id">@ViewBag.currentPhotoAuthor.Prenom @ViewBag.currentPhotoAuthor.Nom</a> > Liste de photos</h1>
<div class="content_user_photo_list">
	<div class="content_list_photo">
            @if (ViewBag.photosList != null)
            {
                foreach (var item in @ViewBag.photosList)
                {
                   <a href="/Photo/Show/?idPhoto=@item.Id&idCpt=@item.cpt_Id"><img src="@item.Url" alt="" /></a>
                }
            }
            else
            { 
			    <p>Aucune photo à afficher.</p>
            }
	</div>
</div>
