﻿@model PicsMapWeb.Models.ChangePasswordModel

@{
    ViewBag.Title = "Change Password";
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<div class="content_list">
    <h1>Modifier votre mot de passe</h1>
</div>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true, "Password change was unsuccessful. Please correct the errors and try again.")
    <div class="wrap_register_detail">
        <div class="content_register_detail">
            <ul class="content_register_form_key">
                <li>@Html.LabelFor(m => m.OldPassword)</li>
                <li>@Html.LabelFor(m => m.NewPassword)</li>
                <li>@Html.LabelFor(m => m.ConfirmPassword)</li>
            </ul>
            <ul class="content_register_form_value">
                <li>
                    @Html.PasswordFor(m => m.OldPassword)
                    @Html.ValidationMessageFor(m => m.OldPassword)
                </li>
                <li>
                    @Html.PasswordFor(m => m.NewPassword)
                    @Html.ValidationMessageFor(m => m.NewPassword)
                </li>
                <li>
                    @Html.PasswordFor(m => m.ConfirmPassword)
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                </li>
            </ul>
        </div>
        <div id="content_footer">&nbsp;</div>
        <div>
            <input class="input_submit_yellow" type="submit" value="Valider" />
        </div>
    </div>
}
