﻿@model PicsMapWeb.Models.EditUserModel
@{
    ViewBag.Title = "EditProfile";
}

<!-- profile stat content -->
<div id="content_profile_stat">
	<ul>
		<li>
            <img src="@ViewBag.UserPhotoUrl" alt=""/>
        </li>
		<li><a href="/Account/Show/?idCpt=@ViewBag.cpt.Id">@ViewBag.nbPhotos photos postées</a></li>
		<li><a href="/Account/MyFollowers">@ViewBag.nbFollowers abonnées</a></li>
		<li><a href="/Account/Followers">@ViewBag.nbMyFollowers abonnements</a></li>
	</ul>
</div>

<!-- edit profile content -->
<div id="content_profile_edit">
	<strong>Editer votre profil</strong>

    @using (Html.BeginForm("EditProfile", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {

        @Html.ValidationSummary(true, "")
        <div>
            <input type="file" value="Modifier votre photo" name="photo"/>
        </div>
        <div class="content_edit_detail">    
            <ul class="content_edit_form_key">
               <li>@Html.LabelFor(m => m.UserName)</li>
               <li>@Html.LabelFor(m => m.Name)</li>
               <li>@Html.LabelFor(m => m.Email)</li>
               <li>@Html.LabelFor(m => m.Login)</li>
            </ul>
            <ul class="content_edit_form_value">
                <li>
                   @Html.TextBoxFor(m => m.UserName, new { @Value = @ViewBag.cpt.Prenom })
                   @Html.ValidationMessageFor(m => m.UserName)
               </li>
               <li>
                   @Html.TextBoxFor(m => m.Name, new { @Value = @ViewBag.cpt.Nom })
                   @Html.ValidationMessageFor(m => m.Name)
               </li>
               <li>
                   @Html.TextBoxFor(m => m.Email, new { @Value = @ViewBag.cpt.Email })
                   @Html.ValidationMessageFor(m => m.Email)
               </li>
               <li>
                   @Html.TextBoxFor(m => m.Login, new { @Value = @ViewBag.cpt.Login })
                   @Html.ValidationMessageFor(m => m.Login)
               </li>
            </ul>
        </div>
        <p>Cliquez <a href="/Account/ChangePassword/">ici</a> pour modifier votre mot de passe.</p>
        <input class="input_submit" type="submit" value="Enregistrer"/>
    }
</div>
