﻿@model PicsMapWeb.Models.SearchModel

@{
    ViewBag.Title = "MyFollowers";
}

<!-- list content -->
<div class="content_list_user">
    <ul class="list_title_search">
	    <li><strong>Mes abonnés</strong></li>
	    <li>
           @using (Ajax.BeginForm("MyFollowers", new AjaxOptions { UpdateTargetId = "ajaxContent" }))
           {
                    @Html.TextBoxFor(m => m.Login, new { @Value = "Rechercher", @onclick = "clickclear(this,'Rechercher')" })
           }
        </li>
    </ul>
    <div id="ajaxContent">
        @{Html.RenderPartial("~/Views/Shared/_MyFollowerList.cshtml");}
        
    </div>
	<div id="content_footer">&nbsp;</div>
</div>