﻿@model PicsMapWeb.Models.RegisterModel

@{
    ViewBag.Title = "Register";
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<div class="content_list">
    <h1>Informations sur votre nouvelle photo</h1>
</div>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true, "Echec de la création du compte. Corrigez les erreurs et recommencez.", new {@style = "color:red;"})
    <div class="wrap_register_detail">
        <div>
            <input type="file" value="Choisir une photo" name="photo"/>
        </div>
        <div class="content_register_detail">
            <ul class="content_register_form_key">
                <li>@Html.LabelFor(m => m.UserName, "Prénom")</li>
                <li>@Html.LabelFor(m => m.Name, "Nom")</li>
                <li>@Html.LabelFor(m => m.Login, "Pseudo")</li>
                <li>@Html.LabelFor(m => m.Email, "Adresse électronique")</li>
                <li>@Html.LabelFor(m => m.Password, "Mot de passe")</li>
                <li>@Html.LabelFor(m => m.ConfirmPassword, "Confirmation du mot de passe")</li>
            </ul>
            <ul class="content_register_form_value">
                <li>
                    @Html.TextBoxFor(m => m.UserName, new { @Value = ViewBag.firstname })
                    @Html.ValidationMessageFor(m => m.UserName, null, new { @style = "color:red;" })
                </li>
                <li>
                    @Html.TextBoxFor(m => m.Name, new { @Value = ViewBag.lastname })
                    @Html.ValidationMessageFor(m => m.Name, null, new { @style = "color:red;" })
                </li>
                <li>
                    @Html.TextBoxFor(m => m.Login, new { @Value = ViewBag.login })
                    @Html.ValidationMessageFor(m => m.Login, null, new { @style = "color:red;" })
                </li>
                <li>
                    @Html.TextBoxFor(m => m.Email, new { @Value = ViewBag.email })
                    @Html.ValidationMessageFor(m => m.Email, null, new { @style = "color:red;" })
                </li>
                <li>
                    @Html.PasswordFor(m => m.Password)
                    @Html.ValidationMessageFor(m => m.Password, null, new { @style = "color:red;" })
                </li>
                <li>
                    @Html.PasswordFor(m => m.ConfirmPassword)
                    @Html.ValidationMessageFor(m => m.ConfirmPassword, null, new { @style = "color:red;" })
                </li>
            </ul>
        </div>
        <div id="content_footer">&nbsp;</div>
        <div>
            <input class="input_submit_yellow" type="submit" value="S'inscrire" />
        </div>
    </div>
}
