﻿@{
    ViewBag.Title = "Show";
}

<script type="text/javascript">
    var photos = @Html.Raw(ViewBag.photoListJS);
    var markers = @Html.Raw(ViewBag.markerListJS);
    updateClusterMap();
</script>

<h1><a href="/Account/Show/?idCpt=@ViewBag.cpt.Id">Profil de @ViewBag.cpt.Prenom @ViewBag.cpt.Nom</a></h1>
<div class="content_user">
	<div class="content_user_photo">
        @if (@ViewBag.cpt.Photo_Profil != null)
        {
            <img src="@ViewBag.cpt.Photo_Profil"/>
        }
        else
        {
            <img src="@Url.Content("~/Content/i/photo.jpg")"/>
        }
		
	</div>
	<div class="content_user_info">
		<strong>@ViewBag.cpt.Prenom @ViewBag.cpt.Nom</strong>
		<div class="list_info">
			<div class="list_info_key">
				<p>Pseudo:</p>
				<p>Adresse email:</p>
				<p>Sexe:</p>
				<p>Date naissance:</p>
			</div>
			<div class="list_info_value">
				<p>@ViewBag.cpt.Login</p>
				<p>@ViewBag.cpt.Email</p>
				<p>--</p>
				<p>--</p>
			</div>
		</div>
		<p><a href="/Account/Show/?idCpt=@ViewBag.cpt.Id">@ViewBag.nbPhotos photos</a>, <a href="/Account/MyFollowers">@ViewBag.nbFollowers abonnés</a>, <a href="/Account/Followers">@ViewBag.nbMyFollowers abonnements</a></p>
	</div>
</div>
<div id="content_footer">&nbsp;</div>
			
<!-- photo detail content -->
<h1>Zoom sur les photos de <a href="/Account/Show/?idCpt=@ViewBag.cpt.Id"> @ViewBag.cpt.Prenom @ViewBag.cpt.Nom</a></h1>
<div class="content_photo_detail">
    <div id="map"></div>
</div>
			
<!-- photo detail content -->
<h1><a href="/Account/Show/?idCpt=@ViewBag.cpt.Id"> @ViewBag.cpt.Prenom @ViewBag.cpt.Nom</a> > Liste des photos</h1>

 @{Html.RenderPartial("~/Views/Shared/_PhotoList.cshtml");}

<div id="content_footer">&nbsp;</div>
			
<h1><a href="/Account/Show/?idCpt=@ViewBag.cpt.Id"> @ViewBag.cpt.Prenom @ViewBag.cpt.Nom</a> > Liste des abonnements</h1>
<div class="content_user_photo_list">
	<div class="content_list_photo">
            @if (ViewBag.listFollowers != null)
            {
                foreach (var item in @ViewBag.listFollowers)
                {
                    <a href="/Account/Show/?idCpt=@item.Id"><img src="@item.Photo_Profil"/></a>
                }
            }
	</div>
</div>


