/* RESET */
p,ul,li,em { list-style:none; margin:0; padding:0; font-style:normal; }

body { background:#575964 url(i/body.png) repeat top center; font:12px/17px "Arial", sans-serif; text-align:center; color:#777777; }
a:link,
a:visited { color:#000; text-decoration:none; }
a:hover { color:#000; text-decoration:none; }

/* Structure */
#wrap { margin:0 auto; width:960px; text-align:left; }
#header { background-color:black; padding:5px 0; position:relative; height:65px;}
	#header_logo { background-color:black; margin:2px 0 0 50px;}
	#header_title { color:#ededed; font-size:14px ;position:relative; bottom:25px; left:10px;margin-right:80px; }
#content { background-color:#ededed; border:1px solid #cfcfcf; padding:40px 30px; }
	#content_map_home { width:500px; float:left;}
	.content_account { width:360px; float:right; background-color:#dadada; border:1px solid #cbcbcb; padding:10px 0 10px 20px;}
	#content_footer { clear:both;height:0px; }


/* header */
#header #menu_list li { float:left; margin:0 5px; text-align: center;}
	#menu_list li.icon_sep { margin-left:500px; }
		#menu_list li a:link, #menu_list li a:visited { color:white; }
		#menu_list li a:hover { color:#2db6f6; }
#user_card { width:170px; background-color:#dadada; border:1px solid #cbcbcb; padding:5px 10px; position:absolute;left:700px;top:28px;}		
	#user_card #user_photo { width:50px; height:50px; float:left; margin:1px 10px 1px 5px;}
	#user_card a:hover { text-decoration: underline;}
	
/* content_account */
.content_account strong { color:#252525; font-size:14px; }
.content_account em { color:#777777; font-size:14px; }
.content_account a:link,
.content_account a:visited { color:#777777; font-size:11px; display:block; padding:0 5px; position:relative; left:55px; }
.content_account a:hover { text-decoration:underline; }

/* content_map */
ul.map_title { height:25px; padding:3px 50px; background-color:#e3e3e3; border:1px solid #cbcbcb; margin-bottom: 10px; }
	ul.map_title li { float: left; margin:0 5px; }
		ul.map_title li  strong { font-size: 13px; position:relative; top:5px; }
		ul.map_title li  input { padding:2px 5px;}
		ul.map_title li  select { margin-top:3px; margin-left:260px;}
		
/* content_list */
.content_list h1 { font-size: 13px; padding:6px 50px; background-color:#e3e3e3; border:1px solid #cbcbcb;}
.content_list .content_list_photo { float:left; width:440px; }
	.content_list_photo img { width:50px; height:50px; margin:0 4px 12px 0; border:2px solid #cbcbcb;}
.content_list .content_list_info { float:right; width:400px; padding:10px 20px; background-color:#e3e3e3; border:1px solid #cbcbcb; }
	.content_list_info strong { font-size: 13px; margin-right:50px; margin-left:17px;}
	.content_list_info table { margin-top: 15px; }
		.list_info { width:450px; margin-top:10px; }
		.list_info_key { width:100px; float:left; text-align:right; margin-right:10px; }
		.list_info_value { width:400px;}
	
.content_list_user .list_title_search { height:25px; padding:3px 50px; background-color:#e3e3e3; border:1px solid #cbcbcb; margin-bottom: 10px; }
	.list_title_search li { float: left; margin:0 5px;}
		.list_title_search li  strong { font-size: 13px; position:relative; top:5px; }
		.list_title_search li input { position:relative; padding:2px 5px; left: 500px; }
.content_list_user .list_user_item { position:relative;top:10px;}
	.list_user_item li { float: left; margin:0 5px; width:280px; }
		.list_user_item  img { width:50px; height:50px; float:left; margin:5px 20px 20px 50px; border:2px solid #cbcbcb;}
		.list_user_item .user_item_info { margin-left:50px; }
		.follow_btn  { padding:5px 8px 6px 8px; background-color:#2db6f6; border:1px solid #109ed0; position:relative; top: 10px;}
		a.follow_btn { color:white; font-size:12px; font-weight:bold; }
		.unfollow_btn  { padding:5px 8px 6px 8px; background-color:#fc0101; border:1px solid #109ed0; position:relative; top: 10px;}
		a.unfollow_btn { color:white; font-size:12px; font-weight:bold; }

/* content_profile_stat */
#content_profile_stat { float:left; width:300px;margin-top:20px;}
	#content_profile_stat img { height:150px;width:150px; float:left; border:2px solid #cbcbcb; margin-right:10px;}
	#content_profile_stat li  { margin-top:20px; }
	#content_profile_stat a:link,
	#content_profile_stat a:visited { color:#2db6f6; position:relative;top:30px;}
	#content_profile_stat a:hover  { text-decoration:underline;}

/* content_profile_edit */
#content_profile_edit { float:right; width:400px;}
	#content_profile_edit  .input_submit { margin-top:10px; position:relative;}
	#content_profile_edit strong { font-size:13px;}

/* content_photo */
.content_photo_display  {margin:10px 0;}
	.content_photo_display img.photo_display { width:450px; float:left;}
	.content_photo_display ul { margin-left:470px; padding:6px 5px; background-color:#e3e3e3; border:1px solid #cbcbcb;}
		.content_photo_display ul li { border-bottom:1px solid white; height:54px; padding:5px 0;}
			.content_photo_display ul li p { font-size:11px;}
			.content_photo_display ul li img { height:50px; width:50px; border:2px solid #cbcbcb; margin-right:10px; float:left;}
		.content_photo_display ul li.new_com { height:35px;} 
			.new_com input { width:400px;}
.content_photo_detail {}
	.content_photo_detail .content_photo_map { float:left; width:450px;}
	.content_photo_detail .content_photo_info { float:right; width:390px; padding:15px 20px 10px 20px; background-color:#e3e3e3; border:1px solid #cbcbcb; }
        .content_photo_info strong { font-size: 13px; margin-right:50px; margin-left:17px;float:left;}
        .content_photo_info .content_note {margin-left:150px;}
		
/* content_user */
.content_user .content_user_photo {float:left;}
	.content_user_photo img {width:200px;max-height:450px;border:1px solid #cbcbcb;margin-left:120px;}
.content_user .content_user_info {width:300px;float:right;background-color:#e3e3e3; border:1px solid #cbcbcb;padding:6px 5px 6px 100px; margin:30px 120px 0 0;}
	.content_user_info strong {font-size:15px;margin-left:40px;}
	.content_user_info p a:link,
	.content_user_info p a:visited {color:#2db6f6;}
	.content_user_info p a:hover {text-decoration:underline;}
		
/* content_add_photo */
.content_add_photo { text-align:center;}
    .content_add_photo .input_submit {margin-top:20px;}

/* content_register_detail */
.wrap_register_detail {text-align:center;border:1px solid #cbcbcb;padding:10px;}
    .content_register_detail {text-align:left; width:700px;margin-left:250px;}
        .content_register_detail .content_register_form_key {float:left; text-align:right;}
        .content_register_detail .content_register_form_value {margin-left:180px;}
            .content_register_form_key li {margin:10px 0 19px 0;}
            .content_register_form_value li {margin:5px 0;}

/* content_edit */
.content_edit_detail {text-align:left; width:700px;}
    .content_edit_detail .content_edit_form_key {float:left; text-align:right;}
    .content_edit_detail .content_edit_form_value {margin-left:70px;}
        .content_edit_form_key li {margin:10px 0 19px 0;}
        .content_edit_form_value li {margin:5px 0;}
#content_profile_edit strong {font-size:14px;}
#content_profile_edit form {margin-top:10px;}
#content_profile_edit .input_submit {margin-left:74px;}

/* Notes */
.content_note a:link,
.content_note a:visited {color:#AAA;}
.content_note a:hover {text-decoration:underline;}
.note { width:114px;height:20px;background-image:url(i/note.jpg);margin-left:20px;  }
.note_5 { background-position:0 20px;}
.note_4 { background-position:0 40px;}
.note_3 { background-position:0 60px;}
.note_2 { background-position:0 80px;}
.note_1 { background-position:0 100px;}

/* Icons */
.icon_menu { width:27px;height:21px;background-image:url(i/icons.png);margin:12px auto 5px auto; }
.icon_4 {background-position:27px;}
.icon_3 {background-position:54px;}
.icon_2 {background-position:81px;}

/* pushpin_content */
.pushpin_content {text-align:center;}

/* input / select*/
input { padding:5px; color:#b5b5b5; font-size:11px; }
.input_submit { padding:5px 6px 6px 6px; background-color:#2db6f6; color:white; font-size:12px; font-weight:bold; border:1px solid #109ed0;}
select { color:#b5b5b5; margin-top:8px; color:#b5b5b5; }
.input_text { padding:5px; margin:8px 10px 0 0; width:150px; color:#b5b5b5; font-size:11px; }
.input_text_1 { padding:5px; margin-right:10px; width:150px; color:#b5b5b5; font-size:11px; }
.input_text_date { padding:5px 2px; margin-top:1px; width:15px; color:#b5b5b5; font-size:11px; }
.input_text_year { padding:5px 2px; margin-top:1px; width:30px; color:#b5b5b5; font-size:11px; }
.input_submit_yellow {  padding:5px 6px 6px 6px; background-color:#f8d307; color:black; font-size:12px; font-weight:bold; border:1px solid #ecc321;}
.content_account .input_submit_yellow {margin-left:70px;}

/* h */
h1 {  font-size: 13px; padding:6px 50px; background-color:#e3e3e3; border:1px solid #cbcbcb; margin: 15px 0 10px 0;  }


/* footer */
#footer { color:#bdbdc2; padding:10px 0; text-align:center; }

/* margin */
.margin_bottom_10 {margin-bottom:10px;}
.margin_top_10 {margin-top:10px;}

/* map */
#map { width: 900px; height: 300px;}
#mapCanvas { width: 900px; height: 300px;}
#controls {margin: 0;list-style: none;}
#controls li {display: inline;margin-left: 42px;font-family: Sans-Serif;font-size: 10pt;}
#fusion-hm-li {visibility: hidden;margin-left: 8px;}

#infoPanel {float: left; margin-left: 10px; display:none;}
#infoPanel div { margin-bottom: 5px;}

/* fb */
.fb-like { margin-left: 40px;}
.fb_connect { position:relative;left:163px;bottom:5px;}