﻿@{
    ViewBag.Title = "_FollowerList";
}

<ul class="list_user_item">

@if (ViewBag.listFollowers != null)
{

    foreach (var item in @ViewBag.listFollowers)
    {
    <li>
	@if (@item.Photo_Profil != null)
    {
        <a href="/Account/Show/?idCpt=@item.Id"><img src="@item.Photo_Profil"/></a>
    }
    else
    {
        <a href="/Account/Show/?idCpt=@item.Id"><img src="@Url.Content("~/Content/i/photo.jpg")"/></a>
    }
		<div class="user_item_info">
			<strong>@item.Prenom @item.Nom</strong><br/>
			<em>@item.Login</em><br/>
            @Ajax.ActionLink("Se désabonner",
                                    "DoUnfollow",
                                    new { login = item.Login },
                                    new AjaxOptions
                                    {
                                        HttpMethod = "GET",
                                        InsertionMode = InsertionMode.Replace,
                                        UpdateTargetId = "body"
                                    }, new { @class = "unfollow_btn" })
		</div>
	</li>
    }

}
else
{
    <li>
        <strong>Personne ne vous suit pour le moment.</strong>
    </li>
}
</ul>