﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>PicsMapWeb</title>
    <link href="@Url.Content("~/Content/global.css")" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.5.1.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/modernizr-1.7.min.js")" ></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" ></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/tags/markermanager/1.0/src/markermanager.js"></script>
    <script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerclusterer/src/markerclusterer_compiled.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/picsmap/picsmap.maps.clustered.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/picsmap/picsmap.maps.upload.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/picsmap/picsmap.misc.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/facebook.connect.js")"></script>
</head>
<body id="body">
    <div id="fb-root"></div>
	<div id="wrap">
		<!-- header -->
		<div id="header">
			<ul id="menu_list">
				
                @if (Request.IsAuthenticated)
                {
                <li>		
					<a href="/Home/Private"><img src="@Url.Content("~/Content/i/logo.png")" id="header_logo" alt=""/></a>
					<strong id="header_title">PicsMapWebs</strong>
				</li>
				<li class="icon_sep">
					<div class="icon_menu"></div>
					<p><a href="/Photo/Add">Poster une photo</a></p>
				</li>
				<li>
					<div class="icon_menu icon_2"></div>
					<p><a href="/Home/Private">Actualité</a></p>
				</li>
				<li>
					<div class="icon_menu icon_3"></div>
					<p><a href="/Account/MyFollowers">Abonnés</a></p>
				</li>
				<li>
					<div class="icon_menu icon_4"></div>
					<p><a href="/Account/Followers">Abonnements</a></p>
				</li>
                }
                else
                {
                <li>		
					<a href="/"><img src="@Url.Content("~/Content/i/logo.png")" id="header_logo" alt=""/></a>
					<strong id="header_title">PicsMapWebs</strong>
				</li>
                }
			</ul>
			<div id="content_footer">&nbsp;</div>
            @if (Request.IsAuthenticated)
            {
			<div id="user_card">
				<a href="/Account/Show/?idCpt=-1"><img id="user_photo" src="@Session["CurrentUserPhotoUrl"]" alt="" /></a>
				<ul>
					<li><a href="/Account/EditProfile">Editer mon profil</a></li>
					<li><a href="/Account/Search">Trouver des amis</a></li>
					<li><a href="/Account/LogOff">Se déconnecter</a></li>
				</ul>
			</div>
            }
		</div>
		<!-- /header -->
	
		<!-- content -->
		<div id="content">
            @RenderBody()
			<div id="content_footer">&nbsp;</div>
		</div>
		<!-- /content -->
	
		<!-- footer -->
		<div id="footer">
			<p>À propos Mobile Conditions Confidentialité © 2012 PicsMap</p>
		</div>
		<!-- /footer -->

	</div>	
</body>
</html>