﻿@{
	ViewBag.Title = "_Search";
}


<ul class="list_user_item">

@if (ViewBag.listSearchUsers != null)
{
    foreach (var item in @ViewBag.listSearchUsers)
    {
    <li>
		@if (@item.Photo_Profil != null)
        {
            <a href="/Account/Show/?idCpt=@item.Id"><img src="@item.Photo_Profil"/></a>
        }
        else
        {
            <a href="/Account/Show/?idCpt=@item.Id"><img src="@Url.Content("~/Content/i/photo.jpg")"/></a>
        }
		<div class="user_item_info">
			<strong>@item.Prenom @item.Nom</strong><br/>
			<em>@item.Login</em><br/>
            @if (@ViewBag.listMyFollowersId.Contains(item.Id) == false)
            {
                @Ajax.ActionLink("S'abonner",
                                    "DoFollow",
                                    new { login = item.Login },
                                    new AjaxOptions {
                                    HttpMethod = "GET",
                                    InsertionMode = InsertionMode.Replace,
                                    UpdateTargetId = "body",
                                }, new { @class = "follow_btn" })
            }
            else
            {
                @Ajax.ActionLink("Se désabonner",
                                    "DoUnfollow",
                                    new { login = item.Login },
                                    new AjaxOptions
                                    {
                                        HttpMethod = "GET",
                                        InsertionMode = InsertionMode.Replace,
                                        UpdateTargetId = "body"
                                    }, new { @class = "unfollow_btn" })
            }
		</div>
	</li>
    }
    if (ViewBag.listSearchUsers.Count == 0)
    { 
    <li>
        <strong>Aucun résultat.</strong>
    </li>
    }
}
else
{
    <li>
        <strong>Effectuer une recherche pour retrouver vos amis.</strong>
    </li>
}
</ul>